{
    "public_ip": "123.45.67.89",
    "rest_api_port": "12345",
    "basic_authtoken": "test",
    "watson_auth_token": "bluemix-instance-id=test-user",
    "aws_endpoint_url": "https://s3-api.us-geo.objectstorage.softlayer.net",
    "aws_access_key_id": "123abc_here_goes_your_key_id",
    "aws_secret_access_key": "123abc_here_goes_your_secret_access_key",
    "training_data_bucket": "fashion-training-data",
    "training_results_bucket": "fashion-training-results"
}